<template>
  <header class="p-4 flex items-center justify-between">
    <h1 class="text-xl font-semibold">
      <a class="font-mono no-underline py-2 text-base text-red-700" href="/">
        Sadoyan Roman
      </a>
    </h1>
    <ul class="flex items-center text-xl">
      <li class="mr-3 md:mr-6">
        <a
          class="text-red-700"
          href="https://t.me/core01"
          target="_blank"
          rel="noopener"
        >
          <i class="fab fa-telegram" />
        </a>
      </li>
      <li class="mr-3 md:mr-6">
        <a
          class="text-red-700"
          href="https://twitter.com/absoluteaffect"
          target="_blank"
          rel="noopener"
        >
          <i class="fab fa-twitter" />
        </a>
      </li>
      <li class="mr-3 md:mr-6">
        <a
          class="text-red-700"
          href="https://github.com/core01/"
          target="_blank"
          rel="noopener"
        >
          <i class="fab fa-github" />
        </a>
      </li>
      <li class="mr-3 md:mr-6">
        <a
          class="text-red-700"
          href="https://gitlab.com/core01/"
          target="_blank"
          rel="noopener"
        >
          <i class="fab fa-gitlab" />
        </a>
      </li>
      <li class="mr-3 md:mr-6">
        <a
          href="mailto:sadoyan@protonmail.com"
          class="text-red-700"
          target="_blank"
        >
          <i class="far fa-envelope" />
        </a>
      </li>
    </ul>
  </header>
</template>
