<template>
  <main class="leading-loose p-4">
    <div class="mb-4">
      <img src="/photo.jpg" alt="Roman Sadoyan" class="mx-auto rounded-full" />
      <h3 class="font-semibold text-xl">About me</h3>
      <div class="ml-5">
        <p>
          Graduated from
          <a
            href="http://en.ifmo.ru/en/"
            class="no-underline"
            target="_blank"
            rel="noopener"
          >
            ITMO University
          </a>
          as master of Computer Science
        </p>
        <p>
          Frontend-developer at
          <a
            href="https://cobrain.ai"
            class="no-underline"
            target="_blank"
            rel="noopener"
          >
            CoBrain-Analytics
          </a>
        </p>
      </div>
    </div>
    <div>
      <h3 class="font-semibold text-xl">
        Skills
      </h3>
      <ul class="ml-5">
        <li>HTML, CSS</li>
        <li>JavaScript, TypeScript</li>
        <li>React, Vue</li>
        <li>PHP, Node.js</li>
        <li>Git, Webpack, Docker</li>
      </ul>
    </div>
  </main>
</template>
